/*----------------------------------------------------------------------*/

/*-------------------------------FORM-----------------------------------*/

/*----------------------------------------------------------------------*/

form fieldset{
    background-image:url("../LogoGif/cher2.gif");
    background-size: cover;
    font-size: 3vh;
    color: white;
    padding: 3vh;
}

fieldset{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    border: solid black;
}

legend{
    background-image:url("../LogoGif/cher2.gif");
    font-size: 6vh;
    text-align: center;
    border: solid rgb(31, 27, 27);
    box-shadow: 6px 6px 6px black;
}

.formulaire.Label{
    padding: 3em;
    text-align: left;
}

.Mail,.Password{
    padding: 1vh;
    border: solid black;
    margin: 2vh;
    text-align: center;
    margin-left:5vh;
    width: 40vh;
}


.formulaire{
    background-image:url("../LogoGif/cher2.gif");
background-size: cover;
border: solid black;
display: flex;
flex-direction: column;
padding: 5vh;
margin: 5vh;
width: 50vh;
}

.Valid{
    font-size: 3vh;
    margin: 10px;
    width: 30vh;
    margin-top: 3vh;
    margin-left: 10vh;
}

span{
    color: white;
}

.checkbox{
    margin-top: 5vh;
}

.Compte{
    display: flex;
    justify-content: right;
    text-decoration: underline;
    margin-top: 6vh;
}



/*----------------------------------------------------------------------*/

/*----------------------------RESPONSIVE--------------------------------*/

/*----------------------------------------------------------------------*/



/*----------------------------------------------------------------------*/

/*-------------------------------FORM-----------------------------------*/

/*----------------------------------------------------------------------*/

@media screen and (max-width:1000px){
    form fieldset{
        margin-top: 450px;
    }    
}