/*----------------------------------------------------------------------*/

/*-----------------------------PICTURES---------------------------------*/

/*----------------------------------------------------------------------*/

.Images1{
    display: flex;
    justify-content: space-evenly;
}

.Images2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.Image11,.Image12,.Image13,.Image21,.Image22,.Image23{
    display: flex;
    margin: 40px;
    border: solid black;
    /*clip-path: polygon(50% 0%, 90% 20%, 47% 50%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);*/
}

.Commentaires{
    display: flex;
    justify-content: space-evenly;
}

.text{
    border: solid black;
}



/*----------------------------------------------------------------------*/

/*----------------------------ANIMATIONS--------------------------------*/

/*----------------------------------------------------------------------*/

/* #img:active{
    transform: scale(2);
    border: solid black;
    display: flex;
}  */



/*----------------------------------------------------------------------*/

/*----------------------------RESPONSIVE--------------------------------*/

/*----------------------------------------------------------------------*/



/*----------------------------------------------------------------------*/

/*-----------------------------PICTURES---------------------------------*/

/*----------------------------------------------------------------------*/

@media screen and (max-width:900px){
    .Images1,.Images2{
        flex-direction: column;
    }    
}