/*----------------------------------------------------------------------*/

/*-----------------------------PICTURES---------------------------------*/

/*----------------------------------------------------------------------*/

.Images1,.Images2,.Images3,.Images4{
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.Image1,.Image2,.Image3,.Image4,.Image5,.Image5,.Image6,.Image7,.Image8,.Image9,.Image10{
    border: solid black;
    display: flex;
    margin: 40px;
}


/*----------------------------------------------------------------------*/

/*----------------------------ANIMATIONS--------------------------------*/

/*----------------------------------------------------------------------*/

/* #img:active{
    transform: scale(2);
    border: solid black;
    display: flex;
}  */



/*----------------------------------------------------------------------*/

/*----------------------------RESPONSIVE--------------------------------*/

/*----------------------------------------------------------------------*/



/*----------------------------------------------------------------------*/

/*----------------------------PICTURES----------------------------------*/

/*----------------------------------------------------------------------*/

@media screen and (max-width:1000px){
    .Images1,.Images2,.Images3,.Images4{
        flex-direction: column;
    }    
}

@media screen and (max-width:900px){
    .Images1,.Images2,.Images3,.Images4{
        flex-direction: column;
    }    
}